*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(241, 214, 65, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
}

#parent{
    width: 600px;
    height: 400px;
    border: 8px solid magenta;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    /* flex-direction: column; */

}

#rightChild{
    border: 5px solid rgb(4, 247, 40);
    height: 350px;
    width: 300px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    

}

.rightChildren{
    border: 3px solid red;
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    
}

#leftChild{
    border: 5px solid rgb(7, 19, 255);
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.leftChildren{
    border: 3px solid red;
    height: 100px;
    width: 80%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#para{
    background-color: white;
    padding: 5px;
    text-align: center;
    border: 2px solid black ;
}

